vendor/
node_modules/
npm-debug.log

bootstrap/compiled.php
app/storage/

public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

.rocketeer/

*.DS_Store

*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
sftp-config.json
